@model SchoolOfNetStudy_DoeNetCoreEF.Models.Product

@{
    ViewData["Title"] = "Produto";    
}

<h1>Cadastro de Clientes</h1>        

<form method="POST" asp-controller="Product" asp-action="Save">
    <input type="hidden" asp-for="ProductId">

    <label for="txtNameProduct">Nome do Produto</label>
    <input class="form-control" asp-for="Name" type="text" id="txtNameProduct">
    
    <label for="txtPrice">Preço</label>
    <input class="form-control" type="text" asp-for="Price" id="txtPrice">

    <label for="txtValidate">Data de Validade</label>
    <input class="form-control" type="date" asp-for="Validity" id="txtValidate">

    <label for="txtDesc">Descrição</label>
    <input class="form-control" type="text" asp-for="Descripton" id="txtDesc">

    <div>
        <button class="btn btn-success">Cadastrar</button>
        
        <a class="btn btn-secondary" href="https://localhost:5001/Product">Voltar</a>
    </div>
</form>